<div class="container">
        <div class="authBlock">
            <h3>Recadastrar senha</h3>
            <p class="text-center">Por favor, entre com o seu email para recadastrar sua senha.</p>
            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email" #passwordResetEmail required>
            </div>
            <div class="col-md-12">
                <button type="button" (click)="authService.ForgotPassword(passwordResetEmail.value)"
                    class=" btn btn-block mybtn btn-primary tx-tfm">Enviar</button>
            </div>
        </div>
        <div class="redirectToLogin">
            <span>Voltar para <a class="redirect" routerLink="/sign-in">Login</a></span>
        </div>
</div>