<div class="card-body">
  <div class="d-flex flex-row-reverse">
    <div class="button-group">
      <button class="btn btn-success" id="botao" type="button">{{ user.email }}</button>&nbsp;&nbsp;
      <button class="btn btn-danger" type="button" (click)="authService.SignOut()">Sair</button>
    </div>
  </div>
</div>

<div style="padding-top: 10em;">
  <!-- column -->
  <div class="d-flex justify-content-center">
    <div class="d-flex align-items-center" style="width: 80em;">
      <div class="col-md-12">

        <div class="card" style="margin-bottom: 1em;">
          <div class="card-body">
            <form [formGroup]="form" *ngIf="form" novalidate #f="ngForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <input type="text" class="form-control" id="nome" for="nome" formControlName="nome">
                      <!-- <span class="help-block text-danger font-14" *ngIf="formsErrors.name">{{formsErrors.name}}</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="idade">Idade</label>
                      <input type="text" class="form-control" id="idade" for="idade" formControlName="idade">
                      <!-- <span class="help-block text-danger font-14" *ngIf="formsErrors.name">{{formsErrors.name}}</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="altura">Altura</label>
                      <input type="text" class="form-control" id="altura" for="altura" formControlName="altura">
                      <!-- <span class="help-block text-danger font-14" *ngIf="formsErrors.name">{{formsErrors.name}}</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="peso">Peso</label>
                      <input type="text" class="form-control" id="peso" for="peso" formControlName="peso">
                      <!-- <span class="help-block text-danger font-14" *ngIf="formsErrors.name">{{formsErrors.name}}</span> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex flex-row-reverse">
                  <div class="button-group">
                    <button class="btn btn-success" type="button" (click)="addPessoa(form.value)">Adicionar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="card-body">

              <ngx-datatable class="material" [rows]="listData" [columnMode]="'flex'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [limit]="maxRows"
                [messages]="{ emptyMessage: 'Nenhum dado encontrado.' }" [loadingIndicator]="!listData || loading">

                <ngx-datatable-column name="Nome" prop="nome" [flexGrow]="2"></ngx-datatable-column>
                <ngx-datatable-column name="Idade" prop="idade" [flexGrow]="0.7"></ngx-datatable-column>
                <ngx-datatable-column name="Altura" prop="altura" [flexGrow]="0.7"></ngx-datatable-column>
                <ngx-datatable-column name="Peso" prop="peso" [flexGrow]="0.7"></ngx-datatable-column>
                <ngx-datatable-column name="IMC" prop="imc" [flexGrow]="1"></ngx-datatable-column>

              </ngx-datatable>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
