<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Login</h1>
                    </div>
                </div>
                <form name="login">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" name="email" class="form-control" #userName aria-describedby="emailHelp"
                            placeholder="Email">
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="exampleInputEmail1">Senha</label>
                        <input type="password" name="password" #userPassword class="form-control"
                            aria-describedby="emailHelp" placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <p class="text-center"><a routerLink="/forgot-password" class="text-center">Esqueceu sua senha?</a></p>
                    </div>
                    <div class="col-md-12 text-center ">
                        <button type="button" (click)="authService.SignIn(userName.value, userPassword.value)"
                            class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                    </div>
                    <div class="col-md-12 ">
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p class="text-center">
                            <a (click)="authService.GoogleAuth()" class="google btn mybtn"><i class="fa fa-google-plus">
                                </i> Continuar com o Google
                            </a>
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="text-center">Não possui uma conta? <a routerLink="/register-user">Registrar-se</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>