<div class="container">
    <div class="authBlock">
        <h3>Obrigado por se registrar</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
            <p class="text-center">Nós enviamos um email de confirmação para <strong>{{user.email}}</strong>.</p>
            <p class="text-center">Por favor, confira seu email e click no link para realizar a verificação do seu endereço de email.</p>
        </div>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
            <button type="button" class=" btn btn-block mybtn btn-primary tx-tfm" (click)="authService.SendVerificationMail()">
                Reenviar email de verificação
            </button>
        </div>
    </div>
    <div class="redirectToLogin">
        <span>Voltar para <a class="redirect" routerLink="/sign-in"> Conectar</a></span>
    </div>
</div>