/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: rgba(255, 255, 128, .5);
  ;
}
